!!! 5
%html
  %head
    %title Administration - Meta D3
    %link{rel:'stylesheet',type:'text/css',src:'/css/admin.css'}
  %body
    #main
      %h3 Administration - Meta d3
      
      %ol
        %li 
          %a{href:'/admin/categories'} Kategorien
        %li
          %a{href:'/admin/guides'} Guides und Artikel
        %li
          %a{href:'/'} Hauptseite
