#header.ui-corner-all
  .home.header-cat.ui-corner-all
    Meta D3
  .general.header-cat.ui-corner-all
    Allgemeines
  .classes.header-cat.ui-corner-all
    Klassen
  .simulator.header-cat.ui-corner-all
    Simulator
  .my-chars.header-cat.ui-corner-all
    Meine Charaktere
  .cleardiv
%br
%script{type:'text/javascript',src:'/js/header.control.js'}
